
# /
/debug
/release
/ui_*.h
/Makefile*
/*.pdb
/*_plugin_import.cpp

# qmake / Qt Creator
/.qmake.stash
/.qtcreator/
*.pro.user
*.pro.user.*

# Shadow-Build von Qt Creator
/build/

# Visual Studio
/.vs/

# Projektdokumentation und lokale Build-Skripte (nicht versioniert)
/docs/
